footer.footer 
    .container 
        .row-top
            .title Excellent
            .row-icon.d-flex.align-items-center.justify-content-center(style="gap:5px;margin-top:16px")
                .icon(style="padding:10px;background-color:#00B67A") 
                    img(src="/images/star.svg", alt="alt")
                .icon(style="padding:10px;background-color:#00B67A")  
                    img(src="/images/star.svg", alt="alt")
                .icon(style="padding:10px;background-color:#00B67A")  
                    img(src="/images/star.svg", alt="alt")
                .icon(style="padding:10px;background-color:#00B67A")  
                    img(src="/images/star.svg", alt="alt")
                .icon(style="padding:10px;background-color:#00B67A")  
                    img(src="/images/star.svg", alt="alt")
            .row-detail.d-flex.align-items-center.justify-content-center(style="margin-top:12px")  
                p.desc Based on 13,586 reviews
            .row-logo.d-flex.align-items-center.justify-content-center(style="margin-top:12px") 
                img(src="/images/star2.svg", alt="")
                img(src="/images/content.svg", alt="") 
        .row-mid
        .row-bottom 
            .list-item.d-flex.justify-content-between
                .item 
                    .item-title(style="margin-bottom:24px") Customer Service
                    .item-list-desc.d-flex.flex-column(style="gap:14px")
                        a(href="#!").desc Contact Us
                        a(href="#!").desc FAQs
                        a(href="#!").desc Order Lookup
                        a(href="#!").desc Returns
                        a(href="#!").desc Shipping & Delivery
                        a(href="#!").desc Corporate Gifting
                .item 
                    .item-title About Us
                    .item-list-desc.d-flex.flex-column(style="gap:14px")
                        a(href="#!").desc Careers
                        a(href="#!").desc News & Blog
                        a(href="#!").desc Press Center
                        a(href="#!").desc Investors
                        a(href="#!").desc Suppliers
                        a(href="#!").desc Terms & Conditions
                        a(href="#!").desc Privacy Policy
                .item 
                    .item-title Credit Card
                    .item-list-desc.d-flex.flex-column(style="gap:14px")
                        a(href="#!").desc Gift Cards
                        a(href="#!").desc Gift Cards Balance
                        a(href="#!").desc Shop with Points
                        a(href="#!").desc Reload Your Balance
                .item 
                    .item-title Sell
                    .item-list-desc.d-flex.flex-column(style="gap:14px")
                        a(href="#!").desc Start Selling
                        a(href="#!").desc Learn to Sell
                        a(href="#!").desc Affiliates & Partners
                .item 
                    .item-title Follow us
                    .item-list-desc.d-flex.flex-column(style="gap:14px")
                        a(href="#!").desc Contact Us
                        a(href="#!").desc Contact Us
                        a(href="#!").desc Contact Us
                        a(href="#!").desc Contact Us
                        a(href="#!").desc Contact Us
.footer-bottom(style="padding:28px 0; background-color:#F1DEB4")
    .container 
        .row 
            .col-12.d-flex.align-items-center.justify-content-between
                a(href="/").logo 
                    img(src="/images/footer/Logo.svg", alt="alt")
                .group-logo.d-flex.align-items-center(style="gap:28px")
                    img(src="/images/footer/paypall.svg", alt="alt")
                    img(src="/images/footer/visa.svg", alt="alt")
                    img(src="/images/footer/logo1.svg", alt="alt")
                    p.footer-desc Copyright © 2022 UIHUT All Rights Reserved 
                          