mixin alert-success(time)
    - if (messages.success)
            .message.info
                div(class="wrapper-success" show-alert data-time=time)
                    .card.d-flex.justify-content-between.align-items-center
                        .content-left.d-flex.justify-content-between.align-items-center
                            .icon
                                svg(stroke="currentColor", fill="currentColor", stroke-width="0", viewBox="0 0 512 512", height="1em", width="1em", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z")

                            .subject(style="margin-left:12px")
                                p(style="font-size:15px;color:#000") #{messages.success}
                        .icon-times(close-alert style="margin-top:-6px;font-weight:600") x


mixin alert-error(time)
    - if (messages.error)
            .message.info
                div(class="wrapper-warning" show-alert data-time=time)
                    .card.d-flex.justify-content-between.align-items-center
                        .content-left.d-flex.justify-content-between.align-items-center
                            .icon
                                svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512" height="1em", width="1em")
                                    path(d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" fill="#e30019")

                            .subject(style="margin-left:12px")
                                p(style="font-size:15px;color:#000") #{messages.error}
                        .icon-times(close-alert style="margin-top:-6px;font-weight:600") x