extends ../../layouts/default.pug

block main 
    .page-404(style="padding-bottom:150px;")
        .container 
            .row 
                .col-12.d-flex.flex-column.justify-content-center.align-items-center(style="padding-right:0")
                    img(src="/images/404.png", alt="alt" style="width:300px;display:inline-block;margin-top:100px")
                    p.desc(style="font-family: Manrope;font-weight:400;margin-top:10px") Trang bạn đang tìm kiếm không tồn tại
                    a(class="btn btn-modal" href="/") Quay lại trang chủ